<!--Menu Options-->



	<link rel="stylesheet" href="~/css/MenuBarStyle.css">
    <div style=" height: auto;
	 display: flex;
	 align-items: flex-start;
	 justify-content: center;
	 background: linear-gradient(135deg, #71b7e6, #9b59b6);">
	<h1>
		Contract Management Claim System
	</h1>
	<div1 id="Logout"
		 style="justify-content:end;
align-content: end;
 display: flex;">

		<ul class="nav-links" style="background : red">
			<li><a href="@Url.Action("Index","MenuBar")">Logout</a></li>
		</ul>
	</div1>
	</div>
	<divMenu>
		<ul class="nav-links">
			<li><a href="@Url.Action("Index","MenuBar")">Home</a></li>
			<li class="center"><a href="@Url.Action("LecturerPage","MenuBar")"> Lecturer </a></li>
			<li class="upward"><a href="@Url.Action("ProgramCoordinatorPage","MenuBar")">Programme Coordinator</a></li>
			<li class="forward"><a href="@Url.Action("AcademicManagerPage","MenuBar")">Academic Manager</a></li>
		</ul>
	</divMenu>

	


